<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
    <div
      class="card-header border-0"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">
            {{ title }}
          </h3>
        </div>
        <div class="col text-right">
          <base-button
            type="primary"
            size="sm"
            @click="$emit('showAddCompany')"
          >
            Add Company
          </base-button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        thead-classes="thead-light"
        tbody-classes="list"
        :data="tableData"
      >
        <template v-slot:columns>
          <th>Name</th>
          <th>Email</th>
          <th>Logo</th>
          <th>Website</th>
          <th>Created By</th>
        </template>

        <template v-slot:default="row">
          <td>
            {{ row.item.name }}
          </td>
          <td>
            {{ row.item.email }}
          </td>
          <td>
            <img
              :src="row.item.logo"
              style="width: 100px; height: auto"
              :alt="row.item.logo"
            />
          </td>
          <td>
            {{ row.item.website }}
          </td>
          <td>
            {{ row.item.created_by }}
          </td>
        </template>
      </base-table>
    </div>

    <div
      class="card-footer d-flex justify-content-end"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <base-pagination
        v-if="pagination.pageCount > 1"
        :total="pagination.total"
        :perPage="pagination.perPage"
        :pageCount="pagination.pageCount"
        :value="pagination.value"
        @nextPage="getCompanies(this.pagination.nextPageUrl)"
        @prevPage="getCompanies(this.pagination.prevPageUrl)"
      ></base-pagination>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "company-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  mounted() {
    this.getCompanies();
  },
  data() {
    return {
      tableData: [],
      pagination: {
        total: 0,
        perPage: 10,
        value: 0,
        pageCount: 0,
        lastPage: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },
    };
  },
  methods: {
    getCompanies(url = "companies") {
      axios.get(url).then((response) => {
        this.tableData = response.data.data;
        if (this.tableData.length > this.pagination.perPage) {
          this.configPagination(response.data.links);
        }
      });
    },
    configPagination(data) {
      this.pagination.perPage = data.per_page;
      this.pagination.value = data.current_page;
      this.pagination.pageCount = Math.ceil(data.total / data.per_page);
      this.pagination.total = data.total;
      this.pagination.lastPage = data.last_page;
      // this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data["links"][3].url;
      this.pagination.prevPageUrl = data["links"][0].url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
  },
};
</script>
<style></style>
