<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
    <div
      class="card-header border-0"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">
            {{ title }}
          </h3>
        </div>
        <div class="col text-right">
          <base-button
            type="primary"
            size="sm"
            @click="$emit('showAddEmployee')"
          >
            Add Employee
          </base-button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        thead-classes="thead-light"
        tbody-classes="list"
        :data="tableData"
      >
        <template v-slot:columns>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>Company</th>
          <th>Edit</th>
        </template>

        <template v-slot:default="row">
          <td>
            {{ row.item.first_name }}
          </td>
          <td>
            {{ row.item.last_name }}
          </td>
          <td>
            {{ row.item.phone }}
          </td>
          <td>
            {{ row.item.email }}
          </td>
          <td>
            {{ row.item.company?.name }}
          </td>
        </template>
      </base-table>
    </div>

    <div
      class="card-footer d-flex justify-content-end"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <base-pagination
        v-if="pagination.pageCount > 1"
        :total="pagination.total"
        :perPage="pagination.perPage"
        :pageCount="pagination.pageCount"
        :value="pagination.value"
        @nextPage="getEmployees(this.pagination.nextPageUrl)"
        @prevPage="getEmployees(this.pagination.prevPageUrl)"
      ></base-pagination>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "projects-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  mounted() {
    this.getEmployees();
  },
  data() {
    return {
      tableData: [],
      pagination: {
        total: 0,
        perPage: 10,
        value: 0,
        pageCount: 0,
        lastPage: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },
    };
  },
  methods: {
    getEmployees(url = "employees") {
      axios.get(url).then((response) => {
        this.tableData = response.data.data;
      });
    },
    configPagination(data) {
      this.pagination.perPage = data.per_page;
      this.pagination.value = data.current_page;
      this.pagination.pageCount = Math.ceil(data.total / data.per_page);
      this.pagination.total = data.total;
      this.pagination.lastPage = data.last_page;
      // this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data["links"][3].url;
      this.pagination.prevPageUrl = data["links"][0].url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
  },
};
</script>
<style></style>
