<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
    <div
      class="card-header border-0"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">
            {{ title }}
          </h3>
        </div>
        <div class="col text-right">
          <base-button type="primary" size="sm" @click="$emit('showAddUser')"
            >Add User</base-button
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <base-table
        class="table align-items-center table-flush"
        thead-classes="thead-light"
        tbody-classes="list"
        :data="tableData"
      >
        <template v-slot:columns>
          <th>Email</th>
          <th>User Type</th>
          <th>Action</th>
        </template>

        <template v-slot:default="row">
          <td>
            {{ row.item.email }}
          </td>
          <td>
            {{ userTypes[row.item.user_type - 1] }}
          </td>
          <td>
            <base-button
              type="danger"
              @mouseup="$emit('deleteUser', row.item.id)"
              :disabled="deleting"
              >Delete</base-button
            >
          </td>
        </template>
      </base-table>
    </div>

    <div
      class="card-footer d-flex justify-content-end"
      :class="type === 'dark' ? 'bg-transparent' : ''"
    >
      <base-pagination
        :total="pagination.total"
        :perPage="pagination.perPage"
        :pageCount="pagination.pageCount"
        :value="pagination.value"
        @nextPage="getUsers(this.pagination.nextPageUrl)"
        @prevPage="getUsers(this.pagination.prevPageUrl)"
      ></base-pagination>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "users-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  mounted() {
    this.getUsers("users");
  },
  data() {
    return {
      pagination: {
        total: 0,
        perPage: 10,
        value: 0,
        pageCount: 0,
        lastPage: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },
      tableData: [],
      userTypes: ["Admin", "Company", "Employee"],
      deleting: false,
    };
  },
  methods: {
    getUsers(url = "users") {
      console.log(url);
      axios.get(url).then((response) => {
        let result = response.data;
        this.tableData = result.data;
        if (this.tableData.length > this.pagination.perPage) {
          this.configPagination(result.meta);
        }
      });
    },
    configPagination(data) {
      this.pagination.value = data.current_page;
      this.pagination.pageCount = Math.ceil(data.total / data.per_page);
      this.pagination.total = data.total;
      this.pagination.lastPage = data.last_page;
      this.pagination.nextPageUrl = data["links"][3].url;
      this.pagination.prevPageUrl = data["links"][0].url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
  },
};
</script>
<style></style>
