<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <company-table
            title="All Companies"
            @showAddCompany="modals = true"
            ref="companiesDataTable"
          ></company-table>
        </div>
      </div>
    </div>

    <modal v-model:show="modals">
      <template v-slot:header>
        <h5 class="modal-title" id="exampleModalLabel">Add Company</h5>
      </template>
      <form>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="Name"
              :required="true"
              v-model:modelValue="company.name"
              :error="errors.name"
            ></base-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="Email"
              :required="true"
              v-model:modelValue="company.email"
              :error="errors.email"
            ></base-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                type="file"
                class="form-control"
                @change="logoUpload()"
                ref="logo_upload"
              />
              <div
                v-if="errors.logo"
                class="text-danger invalid-feedback"
                style="display: block"
              >
                {{ errors.logo }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="Website"
              :required="true"
              v-model:modelValue="company.website"
              :error="errors.website"
            ></base-input>
          </div>
        </div>
      </form>
      <template v-slot:footer>
        <base-button type="secondary" @click="modals = false"
          >Close</base-button
        >
        <base-button type="primary" @mouseup="addCompany" :disabled="submitting"
          >Save changes</base-button
        >
      </template>
    </modal>
  </div>
</template>
<script>
import CompanyTable from "@/views/Tables/CompanyTable";
import axios from "axios";

export default {
  name: "users",
  components: {
    CompanyTable,
  },
  data() {
    return {
      modals: false,
      submitting: false,
      company: {
        name: "",
        email: "",
        logo: "",
        website: "",
      },
      errors: {
        name: "",
        email: "",
        logo: "",
        website: "",
      },
    };
  },
  methods: {
    logoUpload() {
      this.company.logo = this.$refs.logo_upload.files[0];
    },
    addCompany() {
      this.submitting = true;

      let formData = new FormData();
      formData.append("name", this.company.name);
      formData.append("email", this.company.email);
      formData.append("website", this.company.website);

      if (this.company.logo) {
        formData.append("logo", this.company.logo);
      }

      axios
        .post("companies", formData)
        .then(() => {
          this.company = {
            name: "",
            email: "",
            logo: "",
            website: "",
          };
          this.$notify({
            text: "Company Added Successfully!",
            type: "success",
          });
          this.submitting = false;
          this.modals = false;
          this.$refs.companiesDataTable.getCompanies();
        })
        .catch((error) => {
          let errors = error.response;
          if (errors.status === 422) {
            this.errors.name = error.response.data.errors.name
              ? error.response.data.errors.name[0]
              : "";
            this.errors.email = error.response.data.errors.email
              ? error.response.data.errors.email[0]
              : "";
            this.errors.logo = error.response.data.errors.logo
              ? error.response.data.errors.logo[0]
              : "";
            this.errors.website = error.response.data.errors.website
              ? error.response.data.errors.website[0]
              : "";
            this.submitting = false;
          }
        });
    },
    deleteUser(id) {
      this.$refs.usersDataTable.deleting = true;
      axios.delete("users/" + id).then(() => {
        this.$notify({ text: "User Deleted Successfully!", type: "success" });
        this.$refs.usersDataTable.deleting = false;
        this.modals = false;
        this.$refs.usersDataTable.getUsers();
      });
    },
  },
};
</script>
<style></style>
