<template>
  <div>
    <base-header
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    ></base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Company Details</h3>
                  </div>
                </div>
              </div>
            </template>

            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Name"
                      input-classes="form-control-alternative"
                      v-model="company.name"
                    />
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Email address"
                      input-classes="form-control-alternative"
                      v-model="company.email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Website"
                      input-classes="form-control-alternative"
                      v-model="company.website"
                    />
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Logo Url"
                      input-classes="form-control-alternative"
                      v-model="company.logo"
                    />
                    <img :src="company.logo" alt="" style="width: 75px" />
                  </div>
                </div>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "user-profile",
  mounted() {
    axios.get("my-company-details").then((response) => {
      console.log("response", response);
      let data = response.data.data;
      if (data) {
        this.company.name = data.name;
        this.company.email = data.email;
        this.company.logo = data.logo;
        this.company.website = data.website;
      }
    });
  },
  data() {
    return {
      model: {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        address: "",
        city: "",
        country: "",
        zipCode: "",
        about: "",
      },
      company: {
        name: "",
        email: "",
        logo: "",
        website: "",
      },
    };
  },
};
</script>
<style></style>
