<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <employees-table
            title="Employees"
            @showAddEmployee="modals = true"
            ref="employeesDataTable"
          ></employees-table>
        </div>
      </div>
    </div>
    <div>
      <modal v-model:show="modals">
        <template v-slot:header>
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
        </template>
        <form>
          <div class="row">
            <div class="col-md-12">
              <base-input
                placeholder="First Name"
                v-model:modelValue="employee.first_name"
                :error="errors.first_name"
              ></base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <base-input
                placeholder="Last Name"
                :require="true"
                v-model:modelValue="employee.last_name"
                :error="errors.last_name"
              ></base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <base-input
                placeholder="Phone No."
                v-model:modelValue="employee.phone_no"
                :error="errors.phone_no"
              ></base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <base-input
                placeholder="Email"
                v-model:modelValue="employee.email"
                :error="errors.email"
              ></base-input>
            </div>
          </div>
          <div class="row" v-if="loginUser.user_type === 2">
            <div class="col-md-12">
              <select
                name="company_id"
                id=""
                class="form-control"
                v-model="employee.company_id"
              >
                <option value="">Select Company</option>
                <option
                  :key="company.id"
                  :value="company.id"
                  v-for="company in companies"
                >
                  {{ company.name }}
                </option>
              </select>
              <div
                v-if="errors.company_id"
                class="text-danger invalid-feedback"
                style="display: block"
              >
                {{ errors.company_id }}
              </div>
            </div>
          </div>
        </form>
        <template v-slot:footer>
          <base-button type="secondary" @click="modals = false"
            >Close</base-button
          >
          <base-button
            type="primary"
            @mouseup="addEmployee"
            :disabled="submitting"
            >Save changes</base-button
          >
        </template>
      </modal>
    </div>
  </div>
</template>
<script>
import EmployeesTable from "./Tables/EmployeesTable";
import axios from "axios";

export default {
  name: "employees",
  components: {
    EmployeesTable,
  },
  mounted() {
    axios.get("companies").then((response) => {
      this.companies = response.data.data;
    });
  },
  data() {
    return {
      modals: false,
      employee: {
        first_name: "",
        last_name: "",
        email: "",
        phone_no: "",
        company_id: "",
      },
      errors: {
        first_name: "",
        last_name: "",
        email: "",
        phone_no: "",
        company_id: "",
      },
      companies: {},
      submitting: false,
    };
  },
  computed: {
    loginUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    addEmployee() {
      console.log("this.employee", this.employee);
      this.submitting = true;
      axios
        .post("employees", this.employee)
        .then(() => {
          this.employee = {
            first_name: "",
            last_name: "",
            email: "",
            phone_no: "",
            company_id: "",
          };
          this.errors= {
            first_name: "",
            last_name: "",
            email: "",
            phone_no: "",
            company_id: "",
          };

          this.$notify({
            text: "Employee Added Successfully!",
            type: "success",
          });
          this.submitting = false;
          this.modals = false;
          this.$refs.employeesDataTable.getEmployees();
        })
        .catch((error) => {
          let errors = error.response;
          if (errors.status === 422) {
            this.errors.first_name = error.response.data.errors.first_name
              ? error.response.data.errors.first_name[0]
              : "";
            this.errors.last_name = error.response.data.errors.last_name
              ? error.response.data.errors.last_name[0]
              : "";
            this.errors.email = error.response.data.errors.email
              ? error.response.data.errors.email[0]
              : "";
            this.errors.phone_no = error.response.data.errors.phone_no
              ? error.response.data.errors.phone_no[0]
              : "";
            this.errors.company_id = error.response.data.errors.company_id
              ? error.response.data.errors.company_id[0]
              : "";
            this.submitting = false;
          }
        });
    },
  },
};
</script>
<style></style>
