<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <users-table
            title="All Users"
            @showAddUser="modals = true"
            @deleteUser="deleteUser"
            ref="usersDataTable"
          ></users-table>
        </div>
      </div>
    </div>

    <modal v-model:show="modals">
      <template v-slot:header>
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
      </template>
      <form>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="First Name"
              :required="true"
              v-model:modelValue="user.first_name"
              :error="errors.first_name"
            ></base-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="Last Name"
              :require="true"
              v-model:modelValue="user.last_name"
              :error="errors.last_name"
            ></base-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <base-input
              placeholder="Email"
              :required="true"
              v-model:modelValue="user.email"
              :error="errors.email"
            ></base-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <select
              name="user_type"
              id="user_type"
              class="form-control"
              v-model="user.user_type"
            >
              <option value="">Select Account Type</option>
              <option value="1">Admin</option>
              <option value="2">Company Account</option>
              <option value="3">Employee Account</option>
            </select>
            <div
              v-if="errors.user_type"
              class="text-danger invalid-feedback"
              style="display: block"
            >
              {{ errors.user_type }}
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="form-group">
                  <select
                    name="company_id"
                    id=""
                    class="form-control"
                    v-model="user.company_id"
                  >
                    <option value="">Select Company</option>
                    <option
                      :key="company.id"
                      :value="company.id"
                      v-for="company in companies"
                    >
                      {{ company.name }}
                    </option>
                  </select>
                </div>

                <div
                  v-if="errors.company_id"
                  class="text-danger invalid-feedback"
                  style="display: block"
                >
                  {{ errors.company_id }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <template v-slot:footer>
        <base-button type="secondary" @click="modals = false"
          >Close</base-button
        >
        <base-button type="primary" @mouseup="addUser" :disabled="submitting"
          >Save changes</base-button
        >
      </template>
    </modal>
  </div>
</template>
<script>
import UsersTable from "./Tables/UsersTable";
import axios from "axios";
// import { reactive } from "vue";

export default {
  name: "users",
  components: {
    UsersTable,
  },
  mounted() {
    axios.get("companies").then((response) => {
      this.companies = response.data.data;
    });
  },
  data() {
    return {
      modals: false,
      submitting: false,
      user: {
        first_name: "",
        last_name: "",
        email: "",
        user_type: "",
        company_id: "",
      },
      errors: {
        first_name: "",
        last_name: "",
        email: "",
        user_type: "",
        company_id: "",
      },
      companies: {},
    };
  },
  methods: {
    addUser() {
      this.submitting = true;
      axios
        .post("users", this.user)
        .then(() => {
          this.user = {
            first_name: "",
            last_name: "",
            email: "",
            user_type: "",
            company_id: "",
          };

          this.errors = {
            first_name: "",
            last_name: "",
            email: "",
            user_type: "",
            company_id: "",
          };

          this.$notify({ text: "User Added Successfully!", type: "success" });
          this.submitting = false;
          this.modals = false;
          this.$refs.usersDataTable.getUsers();
        })
        .catch((error) => {
          let errors = error.response;
          if (errors.status === 422) {
            this.errors.first_name = error.response.data.errors.first_name
              ? error.response.data.errors.first_name[0]
              : "";
            this.errors.email = error.response.data.errors.email
              ? error.response.data.errors.email[0]
              : "";
            this.errors.last_name = error.response.data.errors.last_name
              ? error.response.data.errors.last_name[0]
              : "";
            this.errors.user_type = error.response.data.errors.user_type
              ? error.response.data.errors.user_type[0]
              : "";
            this.errors.company_id = error.response.data.errors.company_id
              ? error.response.data.errors.company_id[0]
              : "";

            this.submitting = false;
          }
        });
    },
    deleteUser(id) {
      this.$refs.usersDataTable.deleting = true;
      axios.delete("users/" + id).then(() => {
        this.$notify({ text: "User Deleted Successfully!", type: "success" });
        this.$refs.usersDataTable.deleting = false;
        this.modals = false;
        this.$refs.usersDataTable.getUsers();
      });
    },
  },
};
</script>
<style></style>
