<template>
  <div id="app">
    <router-view />
    <notifications :speed="600" />
  </div>
</template>

<script>
export default {
  // created() {
  //   let store = this.$store;
  //   let router = this.$router;
  //   axios.interceptors.response.use(undefined, function (err) {
  //     console.log("err.response.status ", err);
  //     return new Promise(function () {
  //       if (
  //         err.response.status === 401 &&
  //         err.response.config &&
  //         !err.response.config.__isRetryRequest
  //       ) {
  //         store.dispatch("auth/logout");
  //         router.push("/login");
  //       }
  //       throw err;
  //     });
  //   });
  // },
};
</script>
