<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      short-title="Assessment"
      title="Assesment"
    >
      <template v-slot:links>
        <sidebar-item
          v-if="hasPermissionView('view user')"
          :link="{
            name: 'Users',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/users',
          }"
        />
        <sidebar-item
          v-if="hasPermissionView('view all companies')"
          :link="{
            name: 'Companies',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/companies',
          }"
        />
        <sidebar-item
          v-if="hasPermissionView('view all employee')"
          :link="{
            name: 'Employees',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/employees',
          }"
        />
        <sidebar-item
          v-if="loginUser.user_type === 3"
          :link="{
            name: 'companies-profile',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/companies/profile',
          }"
        />
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<script>
import DashboardNavbar from "./DashboardNavbar.vue";
import { hasPermission } from "@/helpers/general";

export default {
  components: {
    DashboardNavbar,
  },
  data() {
    return {
      sidebarBackground: "vue", //vue|blue|orange|green|red|primary
    };
  },
  computed: {
    loginUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    hasPermissionView(permission) {
      return hasPermission(this.loginUser, permission);
      // return (
      //   this.loginUser.permissions &&
      //   this.loginUser.permissions.find(
      //     (userPermission) => userPermission === permission
      //   )
      // );
    },
  },
};
</script>
<style lang="scss"></style>
